
<html>
<body>
  <table>
<%50.times do |num|%>
  <%if (num+1).even?%>
  <tr>
  <td><%="#{num+1} Soy Par!"%></td>
  </tr>
  <%else%>
  <tr>
  <td><%="#{num+1} Soy Impar! \n"%></td>
  </tr>
   <%end%>
<%end%>
</table>
</body>
</html>
